<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>My awesome gossip site, from the views folder!</h1>
    <p>Welcome! Our list of gossip is coming soon. In the meantime, you can <a href="/gossips/new/">create your own gossip</a>!</p>
  </body>
</html>